@use "styles/functions" as *;
@use "styles/theme";
@use "styles/mixins" as mix;

// TODO: scroll belum dipikirkan
.dbx-tabs {
  display: flex;
  min-height: 48px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;

  &.-vertical {
    flex-direction: column;

    .tab-container {
      flex-direction: column;
    }
  }

  &.-centered {
    justify-content: center;
  }

  // element
  .tab-indicator {
    position: absolute;
    height: 2px;
    bottom: 0;
    width: 100%;
    transition: theme.get-transition(all);
  }

  .tab-container {
    display: flex;
  }

  .tab-item {
    @include mix.makeStyleTypo(button);
    position: relative;
    box-sizing: border-box;
    flex-shrink: 0;
    min-width: 72px;
    max-width: 264px;
    min-height: 48px;
    padding: 6px 24px;
    overflow: hidden;
    text-align: center;
    white-space: normal;

    > .wrapper {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    @include mix.media-breakpoint-up(sm) {
      min-width: 160px;
    }

    &.-color-inherit {
      opacity: 0.7;

      &.-selected {
        opacity: 1;
      }

      &.-disabled {
        opacity: 0.5;
      }
    }

    &.-wrapped {
      font-size: px-to-rem(12);
      line-height: 1.5px;
    }

    &.-full-width {
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
      max-width: none;
    }

    &.-has-label-icon {
      min-height: 72px;
      padding-top: 9px;
      > .wrapper {
        > *:first-child {
          margin-bottom: 6px;
        }
      }
    }
  }

  @include mix.build-theme() using($theme, $key) {
    $_text-secondary: get-value($theme, (text, secondary));
    $_text-disabled: get-value($theme, (text, disabled));

    .tab-item {
      &.-color-inherit {
        color: inherit;
      }
    }

    @include mix.build-colors() using($color) {
      color: $_text-secondary;

      .tab-item {
        &.-selected {
          color: get-value($color, main);
        }

        &.-disabled {
          color: $_text-disabled;
        }
      }
    }
  }
}
