{
  "extends": [
    "@deboxsoft/devel"
  ],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "ignorePatterns": [
    "libs",
    "node_modules",
    "build",
    "__sapper__",
    "**/*.d.ts"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  }
}
