{
  "plugins": [
    "stylelint-order"
  ],
  "extends": [
    "@nurdiansyah/stylelint-rscss/config",
    "stylelint-config-recess-order"
  ],
  "rules": {
    "rscss/no-descendant-combinator": true,
    "rscss/class-format": true,
    "selector-pseudo-element-colon-notation": "double"
  }
}
