@use "../scss/mixins/index" as mix;
@use "../scss/variables-default" as var;

// Pagination

@mixin pagination-size($padding-y, $padding-x, $font-size, $border-radius) {
  > .item {
    > .link {
      padding: $padding-y $padding-x;
      @include mix.font-size($font-size);
    }

    @if var.$pagination-margin-left == (-(var.$pagination-border-width)) {
      &:first-child {
        > .link {
          @include mix.border-left-radius($border-radius);
        }
      }

      &:last-child {
        > .link {
          @include mix.border-right-radius($border-radius);
        }
      }
    } @else {
      //Add border-radius to all pageLinks in case they have left margin
      > .link {
        @include mix.border-radius($border-radius);
      }
    }
  }
}

.c-pagination {
  display: flex;
  padding-left: 0;
  list-style: none;

  > .item {
    &:not(:first-child) > .link {
      margin-left: var.$pagination-margin-left;
    }

    &.-active > .link {
      z-index: 3;
      color: var.$pagination-active-color;
      @include mix.gradient-bg(var.$pagination-active-bg);
      border-color: var.$pagination-active-border-color;
    }

    &.-disabled > .link {
      color: var.$pagination-disabled-color;
      pointer-events: none;
      background-color: var.$pagination-disabled-bg;
      border-color: var.$pagination-disabled-border-color;
    }

    > .link {
      position: relative;
      display: block;
      color: var.$pagination-color;
      text-decoration: if(var.$link-decoration == none, null, none);
      background-color: var.$pagination-bg;
      border: var.$pagination-border-width solid var.$pagination-border-color;

      &:hover {
        z-index: 2;
        color: var.$pagination-hover-color;
        text-decoration: if(var.$link-hover-decoration == underline, none, null);
        background-color: var.$pagination-hover-bg;
        border-color: var.$pagination-hover-border-color;
      }

      &:focus {
        z-index: 3;
        outline: var.$pagination-focus-outline;
        box-shadow: var.$pagination-focus-box-shadow;
      }
    }

    //
    // Sizing
    //
    @include pagination-size(var.$pagination-padding-y, var.$pagination-padding-x, null, var.$pagination-border-radius);

    &.-lg {
      @include pagination-size(
        var.$pagination-padding-y-lg,
        var.$pagination-padding-x-lg,
        var.$font-size-lg,
        var.$border-radius-lg
      );
    }

    &.-sm {
      @include pagination-size(
        var.$pagination-padding-y-sm,
        var.$pagination-padding-x-sm,
        var.$font-size-sm,
        var.$border-radius-sm
      );
    }
  }
}
