@use "../scss/mixins/index" as mix;
@use "../scss/variables-default" as var;

//
// Form text
//

.form-text {
  --form-text-color: var(--text-muted);
  margin-top: var.$form-text-margin-top;
  @include mix.font-size(var.$form-text-font-size);
  font-style: var.$form-text-font-style;
  font-weight: var.$form-text-font-weight;
  color: var(--form-text-color);
}
