@use "../scss/vendor/rfs";
@use "../scss/functions";
@use "../scss/variables-default" as var;

//
// Labels
//

.form-label {
  margin-bottom: var.$form-label-margin-bottom;
  @include rfs.font-size(var.$form-label-font-size);
  font-style: var.$form-label-font-style;
  font-weight: var.$form-label-font-weight;
  color: var.$form-label-color;

  // For use with horizontal and inline forms, when you need the label (or legend)
  // text to align with the form controls.
  &.-col {
    padding-top: functions.add(var.$input-padding-y, var.$input-border-width);
    padding-bottom: functions.add(var.$input-padding-y, var.$input-border-width);
    margin-bottom: 0; // Override the `<legend>` default
    @include rfs.font-size(inherit); // Override the `<legend>` default
    font-style: var.$form-label-font-style;
    font-weight: var.$form-label-font-weight;
    line-height: var.$input-line-height;
    color: var.$form-label-color;

    &.-lg {
      padding-top: functions.add(var.$input-padding-y-lg, var.$input-border-width);
      padding-bottom: functions.add(var.$input-padding-y-lg, var.$input-border-width);
      @include rfs.font-size(var.$input-font-size-lg);
    }

    &.-sm {
      padding-top: functions.add(var.$input-padding-y-sm, var.$input-border-width);
      padding-bottom: functions.add(var.$input-padding-y-sm, var.$input-border-width);
      @include rfs.font-size(var.$input-font-size-sm);
    }
  }
}
