@use "sass:map";
@use "../scss/colors";
@use "../scss/variables-default" as var;
@use "../scss/mixins/index" as mix;
@use "./validation";

%show-feedback {
  display: block;
}

@mixin form-validation-state($state, $color, $icon) {
  @if ($state == "valid" or $state == "invalid") {
    #{validation.$form-validated-selector} *:#{$state} ~ &.-#{$state},
    #{validation.$form-validated-selector} *.-#{$state} ~ &.-#{$state} {
      @extend %show-feedback;
    }
  }
  &.-#{$state} {
    color: $color;

    &.-tooltip {
      color: colors.color-contrast($color);
      background-color: rgba($color, var.$form-feedback-tooltip-opacity);
    }
  }
}

.form-feedback {
  display: none;
  width: 100%;
  margin-top: var.$form-feedback-margin-top;
  @include mix.font-size(var.$form-feedback-font-size);
  font-style: var.$form-feedback-font-style;

  @each $state, $data in var.$form-validation-states {
    @include form-validation-state($state, map.get($data, color), map.get($data, icon));
  }
}
