@use "../scss/functions" as *;
@use "../scss/variables-default" as var;
@use "../scss/mixins/index" as mix;

// Range
//
// Style range inputs the same across browsers. Vendor-specific rules for pseudo
// elements cannot be mixed. As such, there are no shared styles for focus or
// active states on prefixed selectors.

.form-range {
  width: 100%;
  height: add(var.$form-range-thumb-height, var.$form-range-thumb-focus-box-shadow-width * 2);
  padding: 0; // Need to reset padding
  background-color: transparent;
  appearance: none;

  &:focus {
    outline: none;

    // Pseudo-elements must be split across multiple rulesets to have an effect.
    // No box-shadow() mixin for focus accessibility.
    &::-webkit-slider-thumb {
      box-shadow: var.$form-range-thumb-focus-box-shadow;
    }
    &::-moz-range-thumb {
      box-shadow: var.$form-range-thumb-focus-box-shadow;
    }
    &::-ms-thumb {
      box-shadow: var.$form-range-thumb-focus-box-shadow;
    }
  }

  &::-moz-focus-outer {
    border: 0;
  }

  &::-webkit-slider-thumb {
    width: var.$form-range-thumb-width;
    height: var.$form-range-thumb-height;
    margin-top: (var.$form-range-track-height - var.$form-range-thumb-height) / 2; // Webkit specific
    @include mix.gradient-bg(var.$form-range-thumb-bg);
    border: var.$form-range-thumb-border;
    @include mix.border-radius(var.$form-range-thumb-border-radius);
    @include mix.box-shadow(var.$form-range-thumb-box-shadow);
    @include mix.transition(var.$form-range-thumb-transition);
    appearance: none;

    &:active {
      @include mix.gradient-bg(var.$form-range-thumb-active-bg);
    }
  }

  &::-webkit-slider-runnable-track {
    width: var.$form-range-track-width;
    height: var.$form-range-track-height;
    color: transparent; // Why?
    cursor: var.$form-range-track-cursor;
    background-color: var.$form-range-track-bg;
    border-color: transparent;
    @include mix.border-radius(var.$form-range-track-border-radius);
    @include mix.box-shadow(var.$form-range-track-box-shadow);
  }

  &::-moz-range-thumb {
    width: var.$form-range-thumb-width;
    height: var.$form-range-thumb-height;
    @include mix.gradient-bg(var.$form-range-thumb-bg);
    border: var.$form-range-thumb-border;
    @include mix.border-radius(var.$form-range-thumb-border-radius);
    @include mix.box-shadow(var.$form-range-thumb-box-shadow);
    @include mix.transition(var.$form-range-thumb-transition);
    appearance: none;

    &:active {
      @include mix.gradient-bg(var.$form-range-thumb-active-bg);
    }
  }

  &::-moz-range-track {
    width: var.$form-range-track-width;
    height: var.$form-range-track-height;
    color: transparent;
    cursor: var.$form-range-track-cursor;
    background-color: var.$form-range-track-bg;
    border-color: transparent; // Firefox specific?
    @include mix.border-radius(var.$form-range-track-border-radius);
    @include mix.box-shadow(var.$form-range-track-box-shadow);
  }

  &::-ms-thumb {
    width: var.$form-range-thumb-width;
    height: var.$form-range-thumb-height;
    margin-top: 0; // Edge specific
    margin-right: var.$form-range-thumb-focus-box-shadow-width; // Workaround that overflowed box-shadow is hidden.
    margin-left: var.$form-range-thumb-focus-box-shadow-width; // Workaround that overflowed box-shadow is hidden.
    @include mix.gradient-bg(var.$form-range-thumb-bg);
    border: var.$form-range-thumb-border;
    @include mix.border-radius(var.$form-range-thumb-border-radius);
    @include mix.box-shadow(var.$form-range-thumb-box-shadow);
    @include mix.transition(var.$form-range-thumb-transition);
    appearance: none;

    &:active {
      @include mix.gradient-bg(var.$form-range-thumb-active-bg);
    }
  }

  &::-ms-track {
    width: var.$form-range-track-width;
    height: var.$form-range-track-height;
    color: transparent;
    cursor: var.$form-range-track-cursor;
    background-color: transparent;
    border-color: transparent;
    border-width: var.$form-range-thumb-height / 2;
    @include mix.box-shadow(var.$form-range-track-box-shadow);
  }

  &::-ms-fill-lower {
    background-color: var.$form-range-track-bg;
    @include mix.border-radius(var.$form-range-track-border-radius);
  }

  &::-ms-fill-upper {
    margin-right: 15px; // arbitrary?
    background-color: var.$form-range-track-bg;
    @include mix.border-radius(var.$form-range-track-border-radius);
  }

  &:disabled {
    pointer-events: none;

    &::-webkit-slider-thumb {
      background-color: var.$form-range-thumb-disabled-bg;
    }

    &::-moz-range-thumb {
      background-color: var.$form-range-thumb-disabled-bg;
    }

    &::-ms-thumb {
      background-color: var.$form-range-thumb-disabled-bg;
    }
  }
}
