@use "styles/functions" as *;
@use "styles/theme";
@use "styles/mixins/index" as mix;

.dbx-form {
  > .form-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &.-row {
      flex-direction: row;
    }
  }

  .helper-text {
    $caption: get-value(theme.$typography, caption);
    @each $prop, $value in $caption {
      #{$prop}: $value;
    }
    margin: 3px 0 0;
    text-align: left;

    &.-margin-dense {
      margin-top: 4px;
    }

    &.-contained {
      margin-right: 14px;
      margin-left: 14px;
    }

    &.-disabled {
      color: get-value(theme.$error, main);
    }
  }

  // Theme
  @include mix.build-theme(null) using($theme, $key) {
    .form-label {
      color: get-value($theme, (text, secondary));

      &.-disabled {
        color: get-value($theme, (text, disabled));
      }

      @include mix.build-colors() using($color) {
        &.-focused {
          color: get-value($color, main);
        }
      }
    }

    .helper-text {
      color: get-value($theme, (text, secondary));

      &.-disabled {
        color: get-value($theme, (text, disabled));
      }
    }
  }
}
