/* stylelint-disable rscss/class-format */
@use "../variables-default" as var;
@use "../functions" as *;
@use "./border-radius" as *;
@use "./reset" as *;

//
// Burger Icon Mixins
//

// Burger Icon
$width: 24px !default;
$height: 24px !default;
$transition: all 0.3s !default;
$thickness: 3px !default;
$space: 5px !default;
$radius: 3px !default;
$theme: (
  default: var.$text-muted,
  hover: var.$primary,
  active: var.$primary
) !default;

$space: $thickness + $space;

@mixin create-burger-icon() {
  @include reset-button();
  position: relative;

  display: inline-block;
  width: $width;
  height: $height;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 0;
  text-indent: -9999px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none !important;
  box-shadow: none;
  transition: $transition;
  appearance: none;

  span {
    position: absolute;
    top: ($height) / 2 - ($thickness) + 1px;
    display: block;
    width: 100%;
    height: $thickness;
    min-height: $thickness;
    background-color: get-value($theme, default);
    transition: $transition;
    @include border-radius($radius);

    &::before,
    &::after {
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: $thickness;
      min-height: $thickness;
      content: "";
      background-color: get-value($theme, default);
      transition: $transition;
      @include border-radius($radius);
    }

    &::before {
      top: -($space);
    }

    &::after {
      bottom: -($space);
    }
  }

  &:hover {
    span {
      background-color: get-value($theme, hover);

      &::before,
      &::after {
        background-color: get-value($theme, hover);
      }
    }
  }

  &.-left,
  &.-right {
    span {
      &::before {
        width: 50%;
      }

      &::after {
        width: 75%;
      }
    }
  }

  // Left Direction
  &.-left {
    span {
      &::before,
      &::after {
        right: 0;
        left: auto;
      }
    }
  }

  // Right Direction
  &.-right {
    span {
      &::before,
      &::after {
        right: auto;
        left: 0;
      }
    }
  }

  &.-active,
  &:hover.-active {
    span {
      background-color: get-value($theme, active);

      &::before,
      &::after {
        background-color: get-value($theme, active);
      }
    }
  }
}

.icon-bugger {
  @include create-burger-icon();
}
