@use "../variables-default" as var;
@use "../vendor/rfs" as *;
@use "./border-radius" as *;
@use "./box-shadow" as *;

$btn-font-family: var.$btn-font-family !default;
$btn-color: var.$body-color !default;
$btn-hover-color: null !default;
$btn-bg-color: transparent !default;
$btn-bg-hover-color: null !default;
$btn-line-height: var.$btn-line-height !default;
$btn-border-width: var.$btn-border-width !default;
$btn-white-space: var.$btn-white-space !default;
$btn-decoration: var.$link-decoration !default;
$btn-hover-decoration: var.$link-hover-decoration !default;
$btn-padding-y: var.$btn-padding-y !default;
$btn-padding-x: var.$btn-padding-x !default;
$btn-font-size: var.$btn-font-size !default;
$btn-border-radius: var.$btn-border-radius !default;
$btn-disabled-opacity: var.$btn-disabled-opacity !default;

// Button sizes
@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  @include font-size($font-size);
  // Manually declare to provide an override to the browser default
  @include border-radius($border-radius, 0);
}

%button-base {
  font-family: $btn-font-family;
  line-height: $btn-line-height;
  color: $btn-color;
  text-align: center;
  text-decoration: $btn-decoration;
  white-space: $btn-white-space;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: $btn-bg-color;

  border: $btn-border-width solid transparent;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);

  &:hover,
  &:focus,
  &:active {
    color: $btn-hover-color;
    text-decoration: $btn-hover-decoration;
    background-color: $btn-bg-hover-color;
  }

  &:disabled,
  &.-disabled,
  fieldset:disabled {
    pointer-events: none;
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }
}
