// Container mixins
@use "../variables-default" as var;

@mixin make-container($padding-x: var.$container-padding-x) {
  width: 100%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}
