@use "../functions" as *;

@mixin menu-vertical-item($config) {
  padding: get-value($config, (self, padding));
  margin: get-value($config, (self, margin));
  > .menu-link {
    min-height: get-value($config, (link, self, height));
    margin: get-value($config, (link, self, margin));
    cursor: pointer;
  }
}

@mixin menu-vertical($config) {
  .menu-nav {
    padding: get-value($config, (default, self, padding), 20px);
    margin: 0;
    list-style: none;

    > .scroll {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      overflow: hidden;
    }

    .menu-item {
      display: flex;
      flex-direction: column;

      > .submenu {
        display: none;
        float: none;
        padding: 0;
        margin: 0;
        &.-open {
        }
        &.-active {
        }
      }
    }

    .submenu-nav {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }
}
