@use "../variables-default" as var;
@mixin reset-text {
  font-family: var.$font-family-base;
  // We deliberately do NOT reset font-size or overflow-wrap / word-wrap.
  font-style: normal;
  font-weight: var.$font-weight-normal;
  line-height: var.$line-height-base;
  text-align: left; // Fallback for where `start` is not supported
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  white-space: normal;
  word-spacing: normal;
  line-break: auto;
}

@mixin reset-button() {
  padding: 0;
  margin: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none !important;
  box-shadow: none;
  appearance: none;
}

@mixin reset-input() {
  background-color: transparent;
  border: 0;
  outline: none !important;
  box-shadow: none;
}
