/* stylelint-disable rscss/class-format */
@use "sass:color";
@use "sass:math";
@use "../colors";
@use "../variables-default" as var;

// scss-docs-start table-variant
@mixin table-variant($state, $background) {
  .table-#{$state} {
    $color: colors.color-contrast(colors.opaque(var.$body-bg, $background));
    $hover-bg: color.mix($color, $background, math.percentage(var.$table-hover-bg-factor));
    $striped-bg: color.mix($color, $background, math.percentage(var.$table-striped-bg-factor));
    $active-bg: color.mix($color, $background, math.percentage(var.$table-active-bg-factor));

    --table-bg: #{$background};
    --table-striped-bg: #{$striped-bg};
    --table-striped-color: #{colors.color-contrast($striped-bg)};
    --table-active-bg: #{$active-bg};
    --table-active-color: #{colors.color-contrast($active-bg)};
    --table-hover-bg: #{$hover-bg};
    --table-hover-color: #{colors.color-contrast($hover-bg)};

    color: $color;
    border-color: color.mix($color, $background, math.percentage(var.$table-border-factor));
  }
}
// scss-docs-end table-variant
