/* stylelint-disable rscss*/

@use "../scss/functions" as *;
@use "../scss/theme";

$color: get-value(theme.$scrollbar, color);
$rail-size: get-value(theme.$scrollbar, (rail, size));
$thumb-size: get-value(theme.$scrollbar, (thumb, size));

/*
 * Container style
 */
.ps-scrollbar {
  position: relative;
  overflow: hidden !important;
  //noinspection CssUnknownProperty
  overflow-anchor: none;
  touch-action: auto;

  > [class^="rail-"] {
    background-color: transparent;
    &:hover,
    &:focus {
      background-color: transparent;
      opacity: 1;
    }
  }

  > [class^="rail-"].-clicking {
    background-color: #eee;
    opacity: 0.9;
  }
  &.-active-x > .rail-x,
  &.-active-y > .rail-y {
    display: block;
    background-color: transparent;
  }

  &:hover > [class^="rail-"],
  &.-focus > [class^="rail-"],
  &.-scrolling-y > [class^="rail-"] {
    opacity: 0.6;
  }

  /* MS supports */
  @supports (-ms-overflow-style: none) {
    & {
      overflow: auto !important;
    }
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    & {
      overflow: auto !important;
    }
  }
}

.rail-x {
  /* please don't change 'position' */
  position: absolute;
  /* there must be 'bottom' or 'top' for rail-x */
  bottom: 0;
  display: none;
  height: $rail-size;
  opacity: 0;
  transition: background-color 0.2s linear, opacity 0.2s linear;

  &:hover > .thumb-x,
  &:focus > .thumb-x,
  &.-clicking > .thumb-x {
    height: $thumb-size;
    background-color: $color;
    opacity: 1;
  }
}

.rail-y {
  /* please don't change 'position' */
  position: absolute;
  /* there must be 'right' or 'left' for rail-y */
  right: 0;
  display: none;
  width: $rail-size;
  opacity: 0;
  transition: background-color 0.2s linear, opacity 0.2s linear;

  &:hover > .thumb-y,
  &:focus > .thumb-y,
  &.-clicking > .thumb-y {
    width: $thumb-size;
    background-color: #999;
    opacity: 1;
  }
}

/*
   * Scrollbar thumb styles
   */
.thumb-x {
  /* please don't change 'position' */
  position: absolute;
  /* there must be 'bottom' for thumb-x */
  bottom: 2px;
  height: $thumb-size;
  background-color: $color;
  border-radius: 6px;
  opacity: 1;
  transition: background-color 0.2s linear, height 0.2s ease-in-out;
}

.thumb-y {
  /* please don't change 'position' */
  position: absolute;
  /* there must be 'right' for thumb-y */
  right: 2px;
  width: $thumb-size;
  background-color: $color;
  border-radius: 6px;
  opacity: 1;
  transition: background-color 0.2s linear, width 0.2s ease-in-out;
}
