@use "../scss/colors";
@use "../scss/theme";
@use "../scss/functions" as *;
@use "../scss/mixins/index" as mix;

$_typography: theme.$typography;

.dbx-button {
  @include mix.button-base;
  min-width: 64px;
  padding: 6px 16px;
  font-size: get-value($_typography, (button, size));
  font-weight: get-value($_typography, (button, weight));
  line-height: get-value($_typography, (button, line-height));
  letter-spacing: get-value($_typography, (button, letter-spacing));
  border-radius: get-value(theme.$shape, (border-radius));
  transition: get-transition(theme.$transitions, (background-color, box-shadow, border), short);

  > .label {
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    width: 100%;
  }

  &:hover {
    text-decoration: none;

    @media (hover: none) {
      background-color: transparent;
    }

    &.-disabled {
      background-color: transparent;
    }
  }

  &::-moz-focus-inner {
    border-style: none;
  }

  &.-disable-elevation {
    &,
    &:hover,
    &.-focus-visible,
    &.-disabled,
    &.-active {
      box-shadow: none;
    }
  }

  &.-disabled {
    pointer-events: none;
    cursor: default;
  }

  &.-focus-visible {
  }

  &.-inherit {
    color: inherit;
    border-color: inherit;
  }

  &.-text {
    padding: 6px 8px;

    &.-small {
      padding: 4px 5px;
      font-size: pxToRem(13);
    }

    &.-large {
      padding: 8px 11px;
      font-size: pxToRem(15);
    }
  }

  &.-outlined {
    padding: 5px 15px;
    border-style: solid;
    border-width: 1px;

    &.-small {
      padding: 3px 9px;
      font-size: pxToRem(13);
    }

    &.-large {
      padding: 7px 21px;
      font-size: pxToRem(15);
    }
  }

  &.-contained {
    color: colors.color-contrast(colors.$gray-300);
    background-color: colors.$gray-300;
    box-shadow: nth(theme.$shadow, 2);

    &:hover {
      background-color: colors.$gray-100;
      box-shadow: nth(theme.$shadow, 4);

      // reset on touch devices, it doesn't add specificity
      @media (hover: none) {
        background-color: colors.$gray-300;
        box-shadow: nth(theme.$shadow, 2);
      }
    }

    &.-focus-visible {
      box-shadow: nth(theme.$shadow, 6);
    }

    &.-active {
      box-shadow: nth(theme.$shadow, 8);
    }

    &.-disabled {
      box-shadow: nth(theme.$shadow, 0);
    }

    &.-full-width {
      width: 100%;
    }
  }

  .start-icon {
    display: inherit;
    margin-right: 8px;
    margin-left: -4px;
    &.-small {
      margin-left: -2px;
    }
  }

  .end-icon {
    display: inherit;
    margin-right: -4px;
    margin-left: 8px;
    &.-small {
      margin-right: -2px;
    }
  }

  .dbx-icon {
    font-size: pxToRem(20);

    &.-small {
      font-size: pxToRem(18);
    }

    &.-large {
      font-size: pxToRem(22);
    }
  }

  @include mix.build-theme() using($theme, $key) {
    $_hover-opacity: get-value($theme, (action, hover-opacity));
    $_disabled-background: get-value($theme, (action, disabled-background));
    $_disabled: get-value($theme, (action, disabled));
    $_text-color: get-value($theme, (text, primary));

    color: $_text-color;
    &:hover {
      background-color: fade($_text-color, $_hover-opacity);
    }

    &.-text {
      @include mix.button-color using($color) {
        $_main-color: get-value($color, main);

        color: $_main-color;

        &:hover {
          background-color: fade($_main-color, $_hover-opacity);
          @media (hover: none) {
            background-color: transparent;
          }
        }
      }
    }

    &.-outlined {
      border-color: get-value($theme, (outlined, border-color));

      &.-disabled {
        border-color: $_disabled-background;
      }

      @include mix.button-color using($color) {
        $_main-color: get-value($color, main);
        color: $_main-color;

        border-color: fade($_main-color, 0.5);

        &:hover {
          background-color: fade($_main-color, $_hover-opacity);
          border-color: $_main-color;

          @media (hover: none) {
            background-color: transparent;
          }
        }
      }
    }

    &.-contained {
      &:hover {
        &.-disabled {
          background-color: $_disabled-background;
        }
      }

      &.-disabled {
        color: $_disabled;
        background-color: $_disabled-background;
      }

      @include mix.button-color using($color) {
        $_main-color: get-value($color, main);
        $_dark-color: get-value($color, dark);

        color: colors.color-contrast($_main-color);
        background-color: $_main-color;

        &:hover {
          background-color: $_dark-color;

          @media (hover: none) {
            background-color: $_dark-color;
          }
        }
      }
    }

    &.-disabled {
      color: get-value($theme, (action, disabled));
    }
  }
}
