@use "sass:map";
@use "sass:color";
@use "../scss/mixins/index" as mix;
@use "../scss/colors";
@use "../scss/variables-default" as var;

@mixin list-group-item-variant($state, $background, $color) {
  .list-group-item {
    // stylelint-disable-next-line
    &.-state-#{$state} {
      color: $color;
      background-color: $background;
    }
    &.-action {
      &:hover,
      &:focus {
        color: $color;
        background-color: color.adjust($background, $lightness: -5%);
      }

      &.-active {
        color: colors.$white;
        background-color: $color;
        border-color: $color;
      }
    }
  }
}

// Base class
//
// Easily usable on <ul>, <ol>, or <div>.

.list-group {
  display: flex;
  flex-direction: column;

  // No need to set list-style: none; since .list-group-item is block level
  padding-left: 0; // reset padding because ul and ol
  margin-bottom: 0;
  @include mix.border-radius(var.$list-group-border-radius);
}

// Interactive list items
//
// Use anchor or button elements instead of `li`s or `div`s to create interactive
// list items. Includes an extra `.active` modifier class for selected items.

.list-group-item-action {
  width: 100%; // For `<button>`s (anchors become 100% by default though)
  color: var.$list-group-action-color;
  text-align: inherit; // For `<button>`s (anchors inherit)

  // Hover state
  &:hover,
  &:focus {
    z-index: 1; // Place hover/focus items above their siblings for proper border styling
    color: var.$list-group-action-hover-color;
    text-decoration: none;
    background-color: var.$list-group-hover-bg;
  }

  &.-active {
    color: var.$list-group-action-active-color;
    background-color: var.$list-group-action-active-bg;
  }
}

// Individual list items
//
// Use on `li`s or `div`s within the `.list-group` parent.

.list-group-item {
  position: relative;
  display: block;
  padding: var.$list-group-item-padding-y var.$list-group-item-padding-x;
  color: var.$list-group-color;
  text-decoration: if(var.$link-decoration == none, null, none);
  background-color: var.$list-group-bg;
  border: var.$list-group-border-width solid var.$list-group-border-color;

  &:first-child {
    @include mix.border-top-radius(inherit);
  }

  &:last-child {
    @include mix.border-bottom-radius(inherit);
  }

  &.-disabled,
  &:disabled {
    color: var.$list-group-disabled-color;
    pointer-events: none;
    background-color: var.$list-group-disabled-bg;
  }

  // Include both here for `<a>`s and `<button>`s
  &.-active {
    z-index: 2; // Place active items above their siblings for proper border styling
    color: var.$list-group-active-color;
    background-color: var.$list-group-active-bg;
    border-color: var.$list-group-active-border-color;
  }

  & + & {
    border-top-width: 0;

    &.-active {
      margin-top: -(var.$list-group-border-width);
      border-top-width: var.$list-group-border-width;
    }
  }
}

// Horizontal
//
// Change the layout of list group items from vertical (default) to horizontal.

@each $breakpoint in map.keys(var.$grid-breakpoints) {
  @include mix.media-breakpoint-up($breakpoint) {
    $infix: mix.breakpoint-infix($breakpoint, var.$grid-breakpoints);

    // stylelint-disable-next-line
    .list-group-horizontal#{$infix} {
      flex-direction: row;

      > .list-group-item {
        &:first-child {
          @include mix.border-bottom-left-radius(var.$list-group-border-radius);
          @include mix.border-top-right-radius(0);
        }

        &:last-child {
          @include mix.border-top-right-radius(var.$list-group-border-radius);
          @include mix.border-bottom-left-radius(0);
        }

        &.active {
          margin-top: 0;
        }

        & + .list-group-item {
          border-top-width: var.$list-group-border-width;
          border-left-width: 0;

          &.active {
            margin-left: -(var.$list-group-border-width);
            border-left-width: var.$list-group-border-width;
          }
        }
      }
    }
  }
}

// Flush list items
//
// Remove borders and border-radius to keep list group items edge-to-edge. Most
// useful within other components (e.g., cards).

.list-group-flush {
  @include mix.border-radius(0);

  > .list-group-item {
    border-width: 0 0 var.$list-group-border-width;

    &:last-child {
      border-bottom-width: 0;
    }
  }
}

// scss-docs-start list-group-modifiers
// List group contextual variants
//
// Add modifier classes to change text and background color on individual items.
// Organizationally, this must come after the `:hover` states.

@each $color, $value in var.$theme-colors {
  @include list-group-item-variant(
    $color,
    colors.color-level($value, var.$list-group-item-bg-level),
    colors.color-level($value, var.$list-group-item-color-level)
  );
}
// scss-docs-end list-group-modifiers
