@font-face {
  font-family: "Deboxicon";
  src: url("./assets/fonts/deboxicon/Deboxicon.eot"); /* IE9 Compat Modes */
  /* IE6-IE8 */
  src: url("./assets/fonts/deboxicon/Deboxicon.eot?#iefix") format("embedded-opentype"),
    /* Modern Browsers */ url("./assets/fonts/deboxicon/Deboxicon.woff2") format("woff2"),
    /* Modern Browsers */ url("./assets/fonts/deboxicon/Deboxicon.woff") format("woff"),
    /* Open Type Font */ url("./assets/fonts/deboxicon/Deboxicon.otf") format("opentype"),
    /* Safari, Android, iOS */ url("./assets/fonts/deboxicon/Deboxicon.ttf") format("truetype"),
    url("./assets/fonts/Deboxicon.svg") format("svg"); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
}

.dbx-icon {
  --icon-size: null;
  font-size: var(--icon-size);
  color: var(--icon-color);
}

//noinspection CssNoGenericFontName
.dbx-icon::before {
  font-family: "Deboxicon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webdbxt-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.dbx-icon.-double-arrow-next::before {
  content: "\f100";
}

.dbx-icon.-double-arrow-back::before {
  content: "\f101";
}

.dbx-icon.-double-arrow-down::before {
  content: "\f102";
}

.dbx-icon.-double-arrow-up::before {
  content: "\f103";
}

.dbx-icon.-long-arrow-back::before {
  content: "\f104";
}

.dbx-icon.-arrow-next::before {
  content: "\f105";
}

.dbx-icon.-arrow-back::before {
  content: "\f106";
}

.dbx-icon.-long-arrow-next::before {
  content: "\f107";
}

.dbx-icon.-check::before {
  content: "\f108";
}

.dbx-icon.-arrow-down::before {
  content: "\f109";
}

.dbx-icon.-minus::before {
  content: "\f10a";
}

.dbx-icon.-long-arrow-down::before {
  content: "\f10b";
}

.dbx-icon.-long-arrow-up::before {
  content: "\f10c";
}

.dbx-icon.-plus::before {
  content: "\f10d";
}

.dbx-icon.-arrow-up::before {
  content: "\f10e";
}

.dbx-icon.-round::before {
  content: "\f10f";
}

.dbx-icon.-reload::before {
  content: "\f110";
}

.dbx-icon.-refresh::before {
  content: "\f111";
}

.dbx-icon.-solid-plus::before {
  content: "\f112";
}

.dbx-icon.-bold-close::before {
  content: "\f113";
}

.dbx-icon.-solid-minus::before {
  content: "\f114";
}

.dbx-icon.-hide::before {
  content: "\f115";
}

.dbx-icon.-code::before {
  content: "\f116";
}

.dbx-icon.-copy::before {
  content: "\f117";
}

.dbx-icon.-up-and-down::before {
  content: "\f118";
}

.dbx-icon.-left-and-right::before {
  content: "\f119";
}

.dbx-icon.-bold-triangle-bottom::before {
  content: "\f11a";
}

.dbx-icon.-bold-triangle-right::before {
  content: "\f11b";
}

.dbx-icon.-bold-triangle-top::before {
  content: "\f11c";
}

.dbx-icon.-bold-triangle-left::before {
  content: "\f11d";
}

.dbx-icon.-bold-double-arrow-up::before {
  content: "\f11e";
}

.dbx-icon.-bold-double-arrow-next::before {
  content: "\f11f";
}

.dbx-icon.-bold-double-arrow-back::before {
  content: "\f120";
}

.dbx-icon.-bold-double-arrow-down::before {
  content: "\f121";
}

.dbx-icon.-bold-arrow-down::before {
  content: "\f122";
}

.dbx-icon.-bold-arrow-next::before {
  content: "\f123";
}

.dbx-icon.-bold-arrow-back::before {
  content: "\f124";
}

.dbx-icon.-bold-arrow-up::before {
  content: "\f125";
}

.dbx-icon.-bold-check::before {
  content: "\f126";
}

.dbx-icon.-bold-wide-arrow-down::before {
  content: "\f127";
}

.dbx-icon.-bold-wide-arrow-up::before {
  content: "\f128";
}

.dbx-icon.-bold-wide-arrow-next::before {
  content: "\f129";
}

.dbx-icon.-bold-wide-arrow-back::before {
  content: "\f12a";
}

.dbx-icon.-bold-long-arrow-up::before {
  content: "\f12b";
}

.dbx-icon.-bold-long-arrow-down::before {
  content: "\f12c";
}

.dbx-icon.-bold-long-arrow-back::before {
  content: "\f12d";
}

.dbx-icon.-bold-long-arrow-next::before {
  content: "\f12e";
}

.dbx-icon.-bold-check-1::before {
  content: "\f12f";
}

.dbx-icon.-close::before {
  content: "\f130";
}

.dbx-icon.-more-ver::before {
  content: "\f131";
}

.dbx-icon.-bold-more-ver::before {
  content: "\f132";
}

.dbx-icon.-more-hor::before {
  content: "\f133";
}

.dbx-icon.-bold-more-hor::before {
  content: "\f134";
}

.dbx-icon.-bold-menu::before {
  content: "\f135";
}

.dbx-icon.-drag::before {
  content: "\f136";
}

.dbx-icon.-bold-sort::before {
  content: "\f137";
}

.dbx-icon.-eye::before {
  content: "\f138";
}

.dbx-icon.-outline-info::before {
  content: "\f139";
}

.dbx-icon.-menu::before {
  content: "\f13a";
}

.dbx-icon.-menu-grid::before {
  content: "\f13b";
}

.dbx-icon.-wrench::before {
  content: "\f13c";
}

.dbx-icon.-gear::before {
  content: "\f13d";
}

.dbx-icon.-info::before {
  content: "\f13e";
}

.dbx-icon.-calendar-2::before {
  content: "\f13f";
}

.dbx-icon.-calendar::before {
  content: "\f140";
}

.dbx-icon.-calendar-today::before {
  content: "\f141";
}

.dbx-icon.-clock::before {
  content: "\f142";
}
